

<div id="main_wrapper">
    <div id="top">
          <div id="logo">
            <%= image_tag "LOGO.png"%>
          </div>
          <div id="top_login">
                <div id="top_welcome">
                  <%= image_tag "welcome-man.png" , :class=>"welcome" %>
                   <div class="content">
                  <span class="login_content">Welcome to visiter, You may <label>LOGIN</label> or <label>CREATE ACCOUNT</label></span>
                   </div>
                </div>
                <div id="basket">
                      <div id="top_basket">
                        <%= image_tag "basket.png"%>
                      </div>
                      <div class="content_basket">
                        <span class="login_content">Basket Items: <label>0 item(s):Total Rs 0.00</label></span>
                      </div>
                  <%= image_tag "cartdetail.png",:class=>"cartdetail"%>
                </div>
           </div>
    </div>
    <div id="main">
        <div id="sub_main">
            <p>What You Can Find Here</p>
            <div id="what-ucan">
            <%= image_tag "what-ucan.png"%>
            </div>
            <input type="text" id="search" />
        </div>
    </div>
    <div id="nav_content">
    	<%= render 'product_sidebar'%>
   <!--banner slider-->
         <div id="banner">


	<div id="slidorion">
<!---for image to be slide-->
		<div id="slider">
			      <div id="slide1" class="slide">
                  <%= image_tag "image1.jpeg",:width=>"488px",:height=>"400px" %>
			      </div>

			      <div id="slide2" class="slide">
				          <%= image_tag "image2.jpeg",:width=>"488px",:height=>"400px" %>
			      </div>

			      <div id="slide3" class="slide">

                           <%= image_tag "image3.jpeg",:width=>"488px",:height=>"400px" %>
				      </div>
    </div>
			<!---end for image to be slide-->

		<div id="accordion">
			<div class="link-header">Laptops</div>
			<div class="link-content">
abc
			</div>
			<div class="link-header">sony laptop</div>
			<div class="link-content">
			def
			</div>
			<div class="link-header">dell laptops</div>
			<div class="link-content">
			ghi
			</div>
		</div>

	</div>
         </div>
         <!--end of banner slider-->
    </div>
    <div id=middle_content>
          <div id="left_middle_content">
                <div id="feature">
                    <h2>Featured Products</h2>
                </div>

                <%= render 'feature_product'%>
          </div>
          <!--advertisement div-->
          <div id="right_middle_content">
                     <div id="slideshow">

                            <%= image_tag "image1.jpeg",:class=>"active"%>

                           <%= image_tag "image2.jpeg"%>
                            <%= image_tag "image3.jpeg" %>
                            <%= image_tag "image4.jpeg" %>
                     </div>
          </div>
          <!--end of advertisement div-->
    </div>
    <div id="lower_middle">
          <div class="sub_lower_middle">
               <div class="sub_lower_middle_content">
                 <h2>Lorem ipsum</h2>
                 <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. consectetur adipiscing elit. </p>
</div>
   </div>
          <div class="sub_lower_middle">
            <div class="sub_lower_middle_content">
                 <h2>Lorem ipsum</h2>
                 <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. consectetur adipiscing elit. </p>
</div>
</div>
          <div class="sub_lower_middle">
            <div class="sub_lower_middle_content">
                 <h2>Lorem ipsum</h2>
                 <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. consectetur adipiscing elit. </p>
</div>
</div>
    </div>

    <div id="lowest">
      <h1> slider</h1>
    </div>
</div>
<div id="footer">
  <div id="main_footer">
      <div id="footer_link">
          <ul>
                <li><a class="text" href="#">INFORMATION</a></li>
                <li><a href="#">About Us ></a></li>
                <li><a href="#">Delivery information ></a></li>
                <li><a href="#">Privacy policy ></a></li>
                <li><a href="#">Terms and condition ></a></li>
          </ul>
          <ul>
                <li><a class="text" href="#">CUSTOMER SERVICE</a></li>
                <li><a href="#">Contact Us ></a></li>
                <li><a href="#">Returns ></a></li>
                 <li><a href="#">Map Site ></a></li>

           </ul>
           <ul>
                <li><a class="text" href="#">EXTRAS</a></li>
                <li><a href="#">Brands ></a></li>
                <li><a href="#">Gift Vouchers ></a></li>
                <li><a href="#">Affiliates ></a></li>
                <li><a href="#">Specials ></a></li>
          </ul>
           <ul>
                <li ><a href="#" class="text">MY ACCOUNT</a></li>
                <li><a href="#">My Account ></a></li>
                 <li><a href="#">Order History ></a></li>
                 <li><a href="#">Wish List ></a></li>
								<li><a href="#">Newsletter ></a></li>
           </ul>
      </div>
  </div>
</div>
